SQL_SERVER=localhost\\SQLEXPRESS
# Ou en mode hôte/port :
# SQL_HOST=localhost
# SQL_INSTANCE=SQLEXPRESS
# SQL_PORT=1433
SQL_USER=sa
SQL_PASSWORD=votre_mot_de_passe
SQL_DB=production_atelier
JWT_SECRET=remplacez_par_une_longue_valeur_aleatoire
PORT=4000
